@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  letter-spacing: 1.3px;
  @apply text-white;
}

*::placeholder {
  font-family: "Montserrat";
  letter-spacing: 1.3px;
}

*,
*:focus,
*:hover {
  outline: none !important;
}

/* CUSTOM UTILITY CLASSES
 * class names defined here can be used if the design calls for
 * something not supported out of the box by Tailwind
*/
@layer utilities {
  .progress-dot {
    width: 10px;
    height: 10px;
  }
  .selected-dot {
    box-shadow: 0 0 0 7px #1DC29D;
  }
}
